#appcontent
  > #tabbrowser-tabbox
  > #tabbrowser-tabpanels
  > .deck-selected
  > .browserContainer
  > .browserStack
  > browser {
  border-radius: 16px !important;
  margin: 14px !important;
}

.browserContainer {
  background-color: var(
    --lwt-accent-color-inactive,
    var(--lwt-accent-color)
  ) !important;
  background-image: var(--lwt-header-image), var(--lwt-additional-images) !important;
  background-repeat: no-repeat, var(--lwt-background-tiling) !important;
  background-position: right top, var(--lwt-background-alignment) !important;
}

#navigator-toolbox-background {
  height: 0 !important;
}

#titlebar {
  display: none !important;
}

.titlebar-buttonbox-container {
  display: none !important;
}
#navigator-toolbox:not(:hover) {
  --is-bar-visible: hidden;
  opacity: 0 !important;
  height: 20px;
  transition: height 200ms ease-in-out, opacity 175ms ease-in-out;
}

#navigator-toolbox {
  position: relative;
  z-index: 1;
  overflow: var(--is-bar-visible);
}

#navigator-toolbox:hover {
  height: 40px;
  opacity: 1 !important;
  transition: opacity 175ms ease-in-out;
}

#navigator-toolbox:focus-within {
  height: 40px;
  opacity: 1 !important;
  transition: opacity 175ms ease-in-out;
  --is-bar-visible: visible;
}

toolbarbutton[open="true"] {
  --is-bar-visible: visible !important;
}
